:root {
  --white: #fff;
  --black: #000;
  --color-navbar-text: var(--white);
  --color-navbar-text-hover: rgb(237, 240, 244);
  --color-primary: rgba(26, 146, 211, 1);
  --color-primary-gradient: linear-gradient(
    90deg,
    rgba(63, 160, 221, 1) 0%,
    rgba(28, 151, 228, 1) 100%
  );
  --color-secondary: rgb(250, 204, 20);
  --color-button: var(--white);
  --color-background: var(--white);
  --color: rgb(33, 33, 33);
  --color-main-bg: rgb(226, 232, 240);
  --color-main-aside-card-p: rgb(145, 145, 145);
  --color-main-aside-card-hr: rgb(221, 221, 221);
  --color-aside-user-p: rgb(107, 107, 107);

  --color-aside-img-1-bg: rgb(224, 242, 254);
  --color-aside-img-2-bg: var(--color-secondary);
  --color-aside-img-3-bg: rgb(163, 163, 163);
  --color-aside-img-4-bg: rgb(253, 164, 175);

  --color-project-card-border: rgb(240, 180, 42);
  --color-project-card-p: rgb(114, 114, 114);
  --color-project-card-icons: rgb(51, 51, 51);
}

::selection {
  background: var(--color-primary);
  color: var(--color-button);
}

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  background: var(--color-primary);
  color: var(--color-button);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.6rem 1.45rem;
  border-radius: 24px;
  border: 1px solid rgba(21, 33, 57, 0.02);
  cursor: pointer;
  user-select: none;
}

/* button hover */
button:hover {
  transition: 0.3s;
  background: var(--color-primary-gradient);
  scale: 1.005;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-main-bg);
  color: var(--color);

  display: flex;
}

/* NAVBAR */
.navbar {
  background: var(--color-primary-gradient);

  width: 265px;
  padding: 1rem;

  border-right: 2px solid rgba(0, 0, 0, 0.07);
  box-shadow: inset -2px 2px 8px rgba(239, 231, 231, 0.5),
    2px -2px 6px rgba(48, 59, 92, 0.345);

  user-select: none;
}

.navbar section.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 2.5rem;
}

.navbar section.logo i {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.navbar a {
  color: var(--color-navbar-text);

  display: flex;
  align-items: center;

  text-decoration: none;
  transition: 0.4s;
}

/* a hover */
.navbar a:hover {
  transition: 0.2s;
  color: var(--color-navbar-text-hover);
  scale: 1.04;
}

.navbar .logo-text {
  position: relative;
  top: 1px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.64rem;
}

.navbar section.menu {
  margin-bottom: 3.5rem;
}

.navbar .menu-item {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.navbar .menu-item .menu-icon {
  width: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 5px;
}

/* MAIN CONTAINER */
.main-container {
  height: 100vh;
  width: calc(100% - 265px);
}

/* HEADER */
header {
  background-color: var(--color-background);

  height: 155px;
  padding-top: 0.18rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header section.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 40%;
  padding: 0 3rem;
}

header .search {
  display: flex;
  align-items: center;

  width: 70%;
  padding-right: 1rem;
}

header .search i {
  color: rgba(5, 5, 5);

  font-size: 0.9rem;

  margin-right: 1.25rem;
  cursor: pointer;
}

/* icon hover */
header .search i:hover {
  transition: 0.2s;
  scale: 1.05;
}

header .search input {
  background: linear-gradient(
    90deg,
    rgb(226, 232, 240) 0%,
    rgb(203, 212, 223) 100%
  );

  width: 100%;
  min-width: 130px;
  max-width: 512px;
  padding: 0.4rem 1rem;

  border: 0;
  border-radius: 24px;
  border: 1px solid rgb(5, 10, 15, 0.02);
  border-bottom: 2px solid rgb(5, 10, 15, 0.04);
}

header .search input:focus {
  outline: 1px solid var(--color-primary);
}

header nav.notification {
  display: flex;
  align-items: center;
}

header nav.notification i {
  color: rgba(5, 5, 5);

  font-size: 1.25rem;

  margin-right: 1.6rem;
  cursor: pointer;
}

/* icon hover */
header nav.notification i:hover {
  transition: 0.2s;
  scale: 1.05;
}

header nav.notification .img-container {
  background-color: var(--color-secondary);

  width: 42px;
  padding: 0.3rem 0.5rem;
  margin-right: 1.7rem;

  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(26, 24, 14, 0.2);
  cursor: pointer;
}

/* img hover */
header nav.notification .img-container:hover {
  transition: 0.2s;
  scale: 1.02;
}

header nav.notification img {
  position: relative;
  width: 100%;
  top: 2px;
  left: 1px;
}

header nav.notification .name {
  font-size: 0.95rem;
  font-weight: 500;

  margin-right: 1rem;
}

header section.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60%;
  padding: 0 3rem;
}

header section.greet-user {
  display: flex;
  align-items: center;
}

header section.greet-user .img-container {
  background-color: var(--color-secondary);

  width: 60px;
  padding: 0.3rem 0.5rem;
  margin-right: 1.7rem;

  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(26, 24, 14, 0.2);
  cursor: pointer;
}

/* img hover */
header section.greet-user .img-container:hover {
  transition: 0.2s;
  scale: 1.02;
}

header section.greet-user img {
  position: relative;
  width: 100%;
  top: 2px;
  left: 1px;
}

header section.greet-user .greet-phrase {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

header section.greet-user .user-name {
  font-size: 1.2rem;
  font-weight: 600;
}

header .project-buttons button {
  position: relative;
  left: -2px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/* MAIN */
main {
  background-color: var(--color-main-bg);
  width: 100%;
  height: calc(100vh - 155px);
  display: flex;
  padding-right: 27px;
  padding-top: 31px;
  padding-left: 18px;
  padding-bottom: 54px;
}

/* MAIN .your-projects */
main .your-projects {
  width: calc(100% - 264px);
  height: calc(100vh - 155px - 31px - 33px);
}

main .your-projects h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

main .your-projects .cards {
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .your-projects .card {
  background-color: var(--white);
  max-width: 400px;
  max-height: 200px;
  margin-right: 1.5rem;
  margin-bottom: 1.7rem;
  position: relative;

  padding: 1.5rem 2rem;
  border-left: 7px solid var(--color-project-card-border);
  border-radius: 8px;
  box-shadow: 4px 4px 5px 0px rgb(210, 215, 223);
}

main .your-projects .card h4 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 4px;
}

main .your-projects .card p {
  color: var(--color-project-card-p);
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0.9rem;
}

main .your-projects .card .menu-icons {
  color: var(--color-project-card-icons);
  position: absolute;
  bottom: 1.5rem;
  right: 0.1rem;
}

main .your-projects .menu-icons i {
  font-size: 1.1rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

/* MAIN aside */
main aside {
  width: 264px;
  height: calc(100vh - 155px - 31px - 54px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main aside section {
  width: 100%;
}

main aside h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 7px;
}

main aside .card {
  background-color: var(--white);
  padding: 24px 22px 4px 22px;
  border-radius: 7px;
  box-shadow: 4px 4px 5px 0px rgb(210, 215, 223);
}

main aside .card.first-card {
  margin-bottom: 32px;
}

main aside .card h6 {
  font-size: 0.785rem;
  margin-bottom: 4px;
}

main aside .card p {
  font-size: 0.68rem;
  color: var(--color-main-aside-card-p);
  margin-bottom: 12px;
}

main aside .card hr {
  border-top: 1px solid var(--color-main-aside-card-hr);
  margin-bottom: 10px;
}

main aside .card .image-and-link-container {
  display: flex;
  margin-bottom: 16px;
}

main aside .image-and-link-container img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  background-color: var(--color-aside-img-3-bg);
  border-radius: 100%;
  padding: 0.3rem;
}

main aside .image-and-link-container img.dog {
  background-color: var(--color-aside-img-1-bg);
}
main aside .image-and-link-container img.kitty {
  background-color: var(--color-aside-img-2-bg);
}
main aside .image-and-link-container img.alien {
  background-color: var(--color-aside-img-3-bg);
}
main aside .image-and-link-container img.penguin {
  background-color: var(--color-aside-img-4-bg);
}

main aside .user b {
  font-size: 0.75rem;
  font-weight: 600;
}

main aside .user p {
  font-size: 0.75rem;
  margin-top: 2px;
  color: var(--color-aside-user-p);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1422px) {
  .navbar {
    height: 200vh;
  }

  main .your-projects .card {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 867px) {
  main .your-projects .card {
    padding-bottom: 250px;
  }
}

/* NOTE: Super quick mobile responsive handling, work in progress!!!👷👷👷 */
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  main aside {
    display: none;
  }
  header {
    display: none;
  }
  body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main {
    position: absolute;
    left: 0;
    width: 100%;
  }

  main .cards {
    position: absolute;
    padding-top: 3rem;
    top: 200px;
    top: 0;
    left: 0;
    width: 100%;
  }

  main .your-projects h2 {
    display: none;
  }
}
