:root {
  --color-navbar-text: #fff;
  --color-navbar-text-hover: rgb(237, 240, 244);
  --color-navbar-background: linear-gradient(
    90deg,
    rgba(63, 160, 221, 1) 0%,
    rgba(28, 151, 228, 1) 100%
  );
}

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: rgb(33, 33, 33);

  display: flex;
}

/* NAVBAR */
.navbar {
  background: var(--color-navbar-background);
  height: 100vh;
  width: 265px;
  padding: 1rem;
  border-right: 2px solid rgba(0, 0, 0, 0.07);
  box-shadow: inset -2px 2px 8px rgba(239, 231, 231, 0.5),
    2px -2px 6px rgba(48, 59, 92, 0.345);

  user-select: none;
}

.navbar section.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 2.5rem;
}

.navbar img {
  width: 2.6rem;
}

.navbar a {
  color: var(--color-navbar-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.navbar a:hover {
  transition: 0.2s;
  color: var(--color-navbar-text-hover);
  scale: 1.04;
}

.navbar .logo-text {
  position: relative;
  top: 1px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.64rem;
}

.navbar section.menu {
  margin-bottom: 3.5rem;
}

.navbar .menu-item {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.navbar .menu-item img {
  width: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 5px;
}

/* MAIN CONTAINER */
.main-container {
  height: 100vh;
  width: calc(100% - 265px);
}

/* HEADER */
header {
  background-color: white;
  height: 155px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* MAIN */
main {
  background-color: rgb(227, 232, 239);
  /* height: calc(100vh - 155px); */
}
